{% extends 'base.html' %}

{% block title %}
    Create user | Main
{% endblock%}

{% block linc_navbar %}
    <ul class="nav navbar-nav navbar-right">
        {% if current_user.has_role('admin') %}
            <li><a href="{{ url_for('create_user') }}">+ New user</a></li>
        {% endif %}
    </ul>
{% endblock %}

<!--Флэш сообщения-->
{% block under_content %}
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            <div class="redtext">
                <a class="close" href="#">×</a>
                {% for message in errors %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% with errors = get_flashed_messages(category_filter=["confirm"]) %}
        {% if errors %}
            <div class="bluetext">
                <a class="close" href="#">×</a>
                {% for message in errors %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block  content_title %}
    Create user:
{% endblock %}

{% block content %}

    <div class="col-md-6">
        <form action="{{ url_for('create_user') }}" method="POST">
            <div class="form-group">
                {{ form.hidden_tag() }}
                {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
                    <p>{{ field.label() }}:</p>
                    {% if field.errors %}
                        {{ field(class="form-control col-md-8 col-md-offset-3") }}
                            <span class="invalid feedback">
                                {% for e in field.errors %}
                                <p class="redtext">{{ e }}</p>
                                {% endfor %}
                            </span>
                    {% elif field.birthday %}
                        {{ field(class="form-control datepicker") }}
                    {% else %}
                        {{ field(class="form-control col-md-8 col-md-offset-3") }}
                    {% endif %}
                {% endfor %}
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

{% endblock %}
