{% extends 'base.html' %}

{% block title %}

    Index page

{% endblock %}


{% block content_title %}

    Index page

{% endblock %}

{% block content %}

    Title page
    {% if current_user.has_role('admin') %}
    <div class="container">
        <h3>
            <a href="{{ url_for('users_view') }}">
               <span class="label label-primary">Users</span>
            </a>
             <a href="{{ url_for('create_user') }}">
                <span class="label label-primary">New user</span>
            </a>
        </h3>
    </div>
    {% endif %}
{% endblock %}
